<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking System</title>
    <!-- <link href="styles.css" rel="stylesheet"> -->
</head>
<body>

    <!-- Navbar -->
    <nav>
        <div class="container">
            <a href="#" class="brand">NailBar</a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Our work</a></li>
                <li><a href="/signin">Signin</a></li>
              
            </ul>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <h1>Let us make you pretty</h1>
            <p>browse our wide range of designs </p>
            <a href="/booking">Get Started</a>
        </div>
    </section>

    <!-- Features Section -->
    <section class="features">
        <div class="container">
            <h2>Who we are</h2>
            <div class="grid">
                <div>
                  
                    <p>At NailBar, we are more than just a nail salon; we are a sanctuary dedicated to beauty, relaxation, and personal expression. Our passion lies in providing a luxurious and transformative experience where each client feels pampered and valued.

                      Founded on Excellence: We pride ourselves on combining top-notch nail artistry with a commitment to exceptional service. Our skilled technicians are not only experts in the latest nail trends but also prioritize your comfort and satisfaction. We stay ahead of trends to ensure you receive the most stylish and innovative designs.
                      
                      Our Philosophy: At NailBar, we believe that self-care is an essential part of well-being. Our mission is to create an environment where you can escape the stresses of daily life and indulge in a moment of tranquility. From the moment you step through our doors, our goal is to make you feel at ease and rejuvenated.
                      
                      Commitment to Quality.</p>
                </div>
                <div>
                    <h3>See our work</h3>
                    <p>work carousel</p>
                </div>
                <div>
                    <h3>Real-Time booking communication</h3>
                    <p>Stay informed with instant notifications and updates about your bookings.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 NailBar. All rights reserved.</p>
        <div>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
        </div>
    </footer>

</body>
</html>
